{
  "php": "/usr/bin/php",
  "sqlite_db": "/var/lib/job_queue/jobs.db",
  "dispatch_interval": 1.0,
  "idle_timeout": 10.0,
  "queues": {
    "ImportQueue": {
      "priority": 20
    },
    "MailQueue": {
      "priority": 20
    }
  },
  "jobs": {
    "test1": {
      "working_dir": "/projects/job_queue",
      "src": "src/job1.php"
     }
  }
}
